# HelloPay - Admin Panel Production Config

# [API]
# Use the production gateway URL
NEXT_PUBLIC_API_URL=https://api.hellopayapp.com

# [FEATURE FLAGS]
NEXT_PUBLIC_MAINTENANCE_MODE=false
NEXT_PUBLIC_DEBUG_MODE=true
